$header-color: #45c6b0;
$nav-color: #45c6b0;
$body-color: #faf9f6;
$font-color: #212529;
$footer_text_color: #f8f9fa;
$footer_bg_color: #4b4b4b;
$border-color: #dee2e6;

.container {
    max-width: 960px;
    margin: 0 auto;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: $font-color;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    color: #fff;
}

.primary-nav {
    background: $header-color;
}

.primary-nav-container {
    display: flex;
    justify-content: space-between;
}

.primary-nav__logo {
    padding: 1rem;
    width: 20%;
}

.primary-nav__login-link {
    padding: 1rem;
    width: 20%;
}

.secondary-nav {
    background: #fff;
    border-bottom: 1px solid $border-color;
}

.secondary-nav__title {
    color: $font-color;
    padding: 1rem;
    margin: 0;
}

.main {
    position: relative;
    padding-top: 100px;
    background: $body-color;
}

.content {
    padding: 1rem;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu__link {
    display: inline-block;
    padding: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    color: $footer_text_color;
    background: $footer_bg_color;
    box-shadow: 0px 500px 0px 500px $footer_bg_color;
    padding: 1rem;
}

.footer-menu {
    width: 50%;
    list-style: none;
    padding: 1rem;
    margin: 0;
    padding: 0;
}

.footer-menu__link {
    color: #fff;
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    &:hover,
    &:active,
    &:visited {
        color: #fff;
    }
}

.footer-menu__link_no-border {
    border: 0;
}

.footer-sns {
    width: 30%;
    list-style: none;
    padding: 1rem;
    margin: 0;
    padding: 0;
}

.footer-sns__link {
    color: #fff;
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    &:hover,
    &:active,
    &:visited {
        color: #fff;
    }
}

.home {
    padding: 1rem;
}

.home-links {
    padding: 1rem 0;
}

.home-link {
    display: inline-block;
    padding: 0 1rem;
}

.home-link__link {
    color: $font-color;
    max-width: 10rem;
    padding: 1rem;
    border: 1px solid $border-color;
    text-decoration: none;
    box-shadow: 0 2px 20px 0 #dee2e6, 0 0 1px 0 #fff;
    &:hover,
    &:active,
    &:visited {
        color: $font-color;
    }
}

.provider-list-title {
    font-size: 3rem;
    font-weight: 200;
    padding: .5rem;
    margin: 0;
}

.provider-list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.provider {
    width: 20%;
    padding: 1rem;
}

.provider-content {
    display: inline-block;
    max-width: 10rem;
    padding: 1rem;
    border: 1px solid $border-color;
    box-shadow: 0 2px 20px 0 #dee2e6, 0 0 1px 0 #fff;
}

.provider__company-name {
    color: #868e96;
    font-size: 1rem;
    text-align: center;
}

.provider__company-logo {
    width: 100%;
}
